@using ApiClient.Api
<div class="row">
    <div class="col-3">
        <a href="">
            @if (MovieDetails.poster_path != null)
            {
                <img style="width:300px;height:450px; margin-bottom: 10px;"
                     src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/@MovieDetails?.poster_path.Replace("/", "")" />
            }
            else
            {
                <img style="width:300px;height:450px; margin-bottom: 10px;"
                     src="https://i.imgur.com/Z2MYNbj.png" />
            }
        </a>
        @if (!InWatchList)
        {
            <button @onclick="@AddToWatchList" class="btn btn-primary"> Add to watch list </button>
        }
        else
        {
            <button @onclick="@RemoveFromWatchList" class="btn btn-primary"> Remove from watch list </button>
        }
    </div>
    <div class="col-3">
        <h1> @MovieDetails.title </h1>
        <p> @MovieDetails.overview</p>
    </div>
    <div class="col-3">
        <h1> Credits </h1>
        <ul style="max-height: 400px; overflow-y: auto; display: block;">
            @foreach (var actor in @MovieCredits.cast)
            {
                <li> @actor.name </li>
            }
        </ul>
        <button @onclick="@ShowDialog" class="btn btn-primary"> Show More </button>
    </div>
</div>

@*<button @onclick="@(() => Modal.Show<Movies>("My Movies"))" class="btn btn-primary">View Movies</button>*@

@code {
    [CascadingParameter]
    public IModalService Modal { get; set; }

    [Parameter]
    public MovieDetailResult MovieDetails { get; set; }
    public MovieCreditsResults MovieCredits { get; set; }

    public WatchListDbService DbService { get; set; }
    public bool InWatchList { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var client = new TheMovieDBApiClient();
        MovieCredits = client.GetMovieCredits(MovieDetails.id);
        DbService = new WatchListDbService();
        InWatchList = DbService.InWatchList(MovieDetails.id);
    }


    void ShowDialog()
    {
        var parameters = new ModalParameters();
        parameters.Add("MovieId", MovieDetails.id);
        parameters.Add("MovieCredits", MovieCredits);

        Modal.Show<MovieDetailCredentialsDialog>("Credits", parameters);
    }

    void AddToWatchList()
    {
        DbService.TryAdd(new WatchListItem()
        {
            MovieId = MovieDetails.id,
            Title = MovieDetails.title,
            PosterPath = MovieDetails.poster_path
        });

        InWatchList = true;
    }

    void RemoveFromWatchList()
    {
        DbService.Delet(MovieDetails.id);
        InWatchList = false;
    }
}
